$desktop-l: 1920px
$desktop-m: 1370px
$desktop-s: 1280px
$laptop: 1025px
$tablet: 768px
$phone: 480px

@media screen and ( max-width: $desktop-m )

    .column.is-5
        width: 50%!important

    .title-fix
        font-size: 8em

    .transport-2, .squirrel-2, .rc-2, .opt-2, .agc-2, .bstudio-2
        display: none

    .squirrel-1, .rc-1, .opt-1
        width: 80%

    .transport-1
        width: 90%

    .agc-1
        width: 50%

    .rc-1
        width: 70%

    .bstudio-1
        width: 90%

    .products-nav
        left: 50%
        top: unset
        bottom: 0
        transform: translate(-50%, 0)
        width: 100%
        height: 70px
        display: flex
        justify-content: center

        .nav
            transform: translate(0, 100px)

@media screen and ( max-width: $desktop-s )
    #contact
        .contact-form
            width: 80%
            align-self: flex-start

            .label
                font-size: .9em
                font-weight: normal
                opacity: .8
    .title-fix
        font-size: 6em
        right: 50px

    .slide-box
        .title
            font-size: 2em

@media screen and ( max-width: $laptop )

    #about
        .container
            min-width: 60vw!important

    #products
        .section .slide-box .container
            margin: auto 5vw!important

            .columns
                flex-direction: column
                flex-flow: column-reverse
                justify-content: flex-end

                .column
                    width: 100%!important

                    &:nth-of-type(2)
                        max-height: 350px

                    &.has-text
                        justify-content: flex-start
                        padding-right: 5.5em

                    .outline-image
                        margin-top: 50px
                        width: 50%

                        &.transport-1
                            width: 65%

                        &.squirrel-1,  &.rc-1
                            width: 40%

                        &.agc-1
                            width: 30%

@media screen and ( max-width: $tablet )
    #products
        .section .slide-box

            .container
                margin: auto 5vw!important

                .columns
                    display: flex
                    flex-direction: column
                    flex-flow: column-reverse
                    justify-content: flex-end

                    .squirrel-1
                        width: 50%!important

                    .agc-1
                        width: 40%!important

                    .rc-1
                        width: 50%!important

                    .bstudio-1
                        width: 70%!important

    #blog
        width: 100vw

        .container
            display: block
            .blog-contents
                flex-direction: row
                display: flex
                gap: 20px
                width: auto
                overflow: hidden
                overflow-x: auto
                cursor: grab

@media screen and ( min-width: $laptop )
    .navbar-mobile
        display: none !important

    .navbar
        display: grid!important
        grid-template-columns: 1fr 2fr 1fr
        &.min
            width: 90%!important

@media screen and ( max-width: $tablet )
    .slide-box
        .container
            margin: auto 50px!important

            .columns
                display: grid
                grid-template-columns: 1fr

@media screen and ( min-width: $tablet )

    .navbar
        display: none

    #head
        h1
            font-size: 2em

        .face-box
            left: 72%
    .monitor-box
        .images
            width: 30%
            padding: 24px
            img
                width: 100%

@media screen and ( min-width: $phone )
    .navbar
        display: none

    .navbar-mobile
        left: 50%
        transform: translate(-50%,0)

    #head
        h1
            font-size: 2em

        .container
            padding: 24px

@media screen and ( min-width: 0 )
    .navbar
        display: none

    .navbar-mobile
        left: 50%
        transform: translate(-50%,0)

    #head
        h1
            font-size: 2em

        .container
            padding: 24px

@media screen and ( max-width: 767px )

    .monitor-box
        .images
            width: 100%
            padding: 24px
            overflow: hidden
            img
                width: 50%

@media screen and ( max-width: $phone )

    .navbar-mobile
        .nav-menu-items
            left: -3.5vw

        // &.min
        //     background-color: rgba(255, 255,255, .2)

    .monitor-box
        .images
            width: 100%
            padding: 24px
            overflow: hidden
            img
                width: 50%

    .title-fix
        display: none

    .has-text
        padding: .75rem!important

    .slide-box
        h2.title
            font-size: 1.5em

    #blog
        min-height: unset
        height: 500px
        padding-top: 100px

    #about
        height: 150vh
        .container
            min-width: 80vw!important

    #products
        .section
            position: relative
            visibility: visible
            height: auto

            &.mo .slide-box
                background-image: linear-gradient(125deg, #dffeff, #0055ff)
            &.sq .slide-box
                background-image: linear-gradient(125deg, #ffffff, #7310eb)
            &.op .slide-box
                background-image: linear-gradient(125deg, #ffffff, #ff5e29)
            &.ac .slide-box
                background-image: linear-gradient(125deg, #e2fbff, #065bf7)
            &.rc .slide-box
                background-image: linear-gradient(125deg, #ffffff, #00be68)
            &.bs .slide-box
                background-image: linear-gradient(125deg, #eafff9, #0071e3)

            .columns
                height: auto

            .slide-box
                position: relative
                animation: none

                .container
                    margin-bottom: 80px!important

                    .columns
                        .transport-1
                            width: 100%!important
                            margin: 30px 0!important

                        .squirrel-1
                            width: 100%!important
                            margin: 30px 0!important

                        .opt-1
                            width: 100%!important
                            margin: 30px 0!important

                        .agc-1
                            width: 62%!important
                            margin: 30px 0!important

                        .rc-1
                            width: 100%!important
                            margin: 30px 0!important

                        .bstudio-1
                            width: 100%!important
                            margin: 30px 0!important

                .has-text
                    margin-bottom: 80px

            .slide-box.active
                height: auto
                animation: none
                padding: 50px 10px

    #contact
        height: auto
        display: block
        padding: 0
        padding-top: 100px

        .contact-1
            width: 360px
            height: auto
            opacity: 1

        .contact-form
            width: 100%

        .container
            padding: 3rem 1.5rem

            .columns
                margin: 0!important

    #footer
        position: relative

        .link-groups
            flex-direction: column
