body {
  margin: 0;
  font-family: "Bai Jamjuree", sans-serif;
  color: rgb(36, 41, 47);
}
body .text-primary {
  color: #02488f;
}

.button {
  background-color: transparent;
  border-radius: 20px;
  border-color: #24292f;
  padding: 6px 30px;
}

.sections {
  background-color: #f6f6f6;
  position: sticky;
  top: 0;
  height: 900vh;
  width: 100vw;
}

canvas {
  display: block;
  vertical-align: bottom;
}

.text-align-center {
  text-align: center;
}

p {
  font-size: 1em;
}

div, h2, p {
  color: rgb(36, 41, 47);
}
div.title, h2.title, p.title {
  color: rgb(36, 41, 47);
}

.hyphen::after {
  content: "-";
}

.navbar {
  height: 80px;
  width: 100vw;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 0;
  margin: auto;
  transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.navbar .navbar-item {
  color: white;
  cursor: pointer;
}
.navbar .navbar-brand {
  margin-left: 50px;
}
.navbar .navbar-brand img {
  filter: saturate(1) brightness(10) grayscale(1) contrast(10);
}
.navbar .navbar-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .navbar-end {
  display: flex;
  align-items: center;
  padding: 24px;
  margin-right: 50px;
}
.navbar .navbar-end .icons i {
  color: white;
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 6px;
  transition: 0.3s;
}
.navbar .navbar-end .icons i:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #02488f;
}
.navbar.min {
  width: 75vw;
  border-radius: 30px;
  box-shadow: 0 5px 10px rgba(7, 170, 199, 0.1);
  top: 24px;
  background-color: white;
  transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.navbar.min .navbar-item {
  color: rgb(36, 41, 47);
  cursor: pointer;
}
.navbar.min .navbar-item:hover {
  color: #02488f;
}
.navbar.min .navbar-brand {
  margin-left: 0;
}
.navbar.min .navbar-brand img {
  filter: none;
}
.navbar.min .navbar-end {
  margin-right: 10px;
}
.navbar.min .navbar-end .icons i {
  color: #02488f;
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 6px;
  transition: 0.3s;
}
.navbar.min .navbar-end .icons i:hover {
  background-color: #02488f;
  color: white;
}

.column.has-text {
  padding-right: 3em;
  align-items: flex-start !important;
}
.column.has-text .button {
  background-color: transparent;
  border-radius: 20px;
  border-color: rgb(36, 41, 47);
  padding: 6px 30px;
}

.products-nav {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 80px;
  z-index: 99;
  font-weight: 600;
}
.products-nav .nav {
  color: white;
  width: 80px;
  height: 80px;
  padding: 25px;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  transform: translateX(-100px);
}
.products-nav .nav:nth-of-type(1) {
  transition-delay: 0.1s;
}
.products-nav .nav:nth-of-type(2) {
  transition-delay: 0.2s;
}
.products-nav .nav:nth-of-type(3) {
  transition-delay: 0.3s;
}
.products-nav .nav:nth-of-type(4) {
  transition-delay: 0.4s;
}
.products-nav .nav:nth-of-type(5) {
  transition-delay: 0.5s;
}
.products-nav .nav:nth-of-type(6) {
  transition-delay: 0.6s;
}
.products-nav.active .nav {
  transform: translateX(0px);
}
.products-nav .mo {
  background-color: #0055ff;
}
.products-nav .sq {
  background-color: #7310eb;
}
.products-nav .op {
  background-color: #ff4000;
}
.products-nav .ac {
  background-color: #065bf7;
}
.products-nav .rc {
  background-color: #00be68;
}
.products-nav .bs {
  background-color: #02488f;
}

.section {
  min-height: 100vh;
}
.section .product-logo {
  min-height: 30px;
}
.section .columns {
  height: calc(100vh - 150px);
}
.section .columns .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section p {
  line-height: 1.7em;
}
.section h2 {
  line-height: 1.3em;
}
.section.mo, .section.sq, .section.rc, .section.bs, .section.ac, .section.op {
  width: 100vw;
  border-radius: 100px;
  visibility: hidden;
  transition: visibility 1s;
}
.section.mo.visible, .section.sq.visible, .section.rc.visible, .section.bs.visible, .section.ac.visible, .section.op.visible {
  visibility: visible;
}
.section.mo {
  z-index: 1;
}
.section.mo .slide-box {
  background-image: linear-gradient(160deg, #dffeff, #0055ff);
}
.section.mo .transport-2 svg path, .section.mo .transport-2 svg line, .section.mo .transport-2 svg polyline, .section.mo .transport-2 svg polygon, .section.mo .transport-1 svg path, .section.mo .transport-1 svg line, .section.mo .transport-1 svg polyline, .section.mo .transport-1 svg polygon {
  fill: rgba(4, 75, 255, 0.05);
}
.section.mo .transport-2 svg #Shape-13, .section.mo .transport-1 svg #Shape-13 {
  fill: none;
}
.section.mo .transport-1 svg path, .section.mo .transport-1 svg line, .section.mo .transport-1 svg polyline, .section.mo .transport-1 svg polygon {
  fill: none;
}
.section.mo .transport-1 svg .with-fill path, .section.mo .transport-1 svg .with-fill line, .section.mo .transport-1 svg .with-fill polyline, .section.mo .transport-1 svg .with-fill polygon {
  fill: rgba(0, 72, 255, 0.04);
}
.section.sq {
  z-index: 2;
}
.section.sq .slide-box {
  background-image: linear-gradient(150deg, #ffffff, #7310eb);
}
.section.sq .squirrel-2 svg path, .section.sq .squirrel-2 svg line, .section.sq .squirrel-2 svg polyline, .section.sq .squirrel-2 svg polygon, .section.sq .squirrel-1 svg path, .section.sq .squirrel-1 svg line, .section.sq .squirrel-1 svg polyline, .section.sq .squirrel-1 svg polygon {
  fill: rgba(103, 0, 124, 0.0509803922);
}
.section.sq .squirrel-2 #Path-15, .section.sq .squirrel-2 #Path-16, .section.sq .squirrel-1 #Path-15, .section.sq .squirrel-1 #Path-16 {
  fill: none;
}
.section.sq .squirrel-2 {
  width: 280px;
  bottom: -200px;
  right: -150px;
  transform: translate(0, 50px);
  opacity: 1;
}
.section.sq .squirrel-2.outline-image path, .section.sq .squirrel-2.outline-image line, .section.sq .squirrel-2.outline-image polyline, .section.sq .squirrel-2.outline-image polygon {
  stroke-width: 1;
  opacity: 1;
  stroke-dashoffset: 0;
}
.section.sq .active .squirrel-2 {
  animation: squirrel 2s forwards cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-delay: 0.5s;
}
.section.op {
  z-index: 3;
}
.section.op .slide-box {
  background-image: linear-gradient(150deg, #ffffff, #ff5e29);
}
.section.op .slide-box.active .opt-2 {
  animation: opt 4s forwards cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-delay: 0;
}
.section.op .opt-2 svg path, .section.op .opt-2 svg line, .section.op .opt-2 svg polyline, .section.op .opt-2 svg polygon, .section.op .opt-1 svg path, .section.op .opt-1 svg line, .section.op .opt-1 svg polyline, .section.op .opt-1 svg polygon {
  fill: rgba(124, 60, 0, 0.0274509804);
}
.section.op .opt-2 {
  width: 650px;
  bottom: -200px;
  right: -300px;
  transform: translate(540px, 300px);
  opacity: 1;
}
.section.op .opt-2.outline-image path, .section.op .opt-2.outline-image line, .section.op .opt-2.outline-image polyline {
  stroke-width: 1;
  opacity: 1;
  stroke-dashoffset: 0;
}
.section.ac {
  z-index: 4;
}
.section.ac .slide-box {
  background-image: linear-gradient(150deg, #e2fbff, #065bf7);
}
.section.ac .slide-box.active .agc-2 {
  animation: agc 5s forwards cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-delay: 0;
}
.section.ac .agc-2 svg path, .section.ac .agc-2 svg line, .section.ac .agc-2 svg polyline, .section.ac .agc-2 svg polygon, .section.ac .agc-1 svg path, .section.ac .agc-1 svg line, .section.ac .agc-1 svg polyline, .section.ac .agc-1 svg polygon {
  fill: rgba(8, 0, 124, 0.0274509804);
}
.section.ac .agc-2 svg #Path-55, .section.ac .agc-1 svg #Path-55 {
  fill: none;
}
.section.ac .agc-2 {
  width: 750px;
  bottom: -345px;
  right: -320px;
  transform: translate(540px, 300px);
  opacity: 1;
}
.section.ac .agc-2.outline-image path, .section.ac .agc-2.outline-image line, .section.ac .agc-2.outline-image polyline {
  fill: none;
  stroke-width: 1;
  opacity: 0.7;
  stroke-dashoffset: 0;
}
.section.rc {
  z-index: 5;
}
.section.rc .slide-box {
  background-image: linear-gradient(150deg, #ffffff, #00be68);
}
.section.rc .slide-box.active .rc-2 {
  animation: rc 3s forwards cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-delay: 0.5s;
}
.section.rc .rc-2 svg path, .section.rc .rc-2 svg line, .section.rc .rc-2 svg polyline, .section.rc .rc-2 svg polygon, .section.rc .rc-1 svg path, .section.rc .rc-1 svg line, .section.rc .rc-1 svg polyline, .section.rc .rc-1 svg polygon {
  fill: rgba(4, 97, 9, 0.0274509804);
}
.section.rc .rc-2 svg .cls-2, .section.rc .rc-1 svg .cls-2 {
  fill: none;
}
.section.rc .rc-1 svg path, .section.rc .rc-1 svg line, .section.rc .rc-1 svg polyline, .section.rc .rc-1 svg polygon {
  fill: none;
}
.section.rc .rc-2 {
  width: 380px;
  bottom: -200px;
  right: -150px;
  transform: translate(0, 300px) scaleX(-1);
  opacity: 1;
}
.section.rc .rc-2.outline-image path, .section.rc .rc-2.outline-image line, .section.rc .rc-2.outline-image polyline {
  stroke-width: 1;
  opacity: 1;
  stroke-dashoffset: 0;
}
.section.bs {
  z-index: 6;
}
.section.bs .slide-box {
  background-image: linear-gradient(150deg, #eafff9, #0071e3);
}
.section.bs .bstudio-2 svg path, .section.bs .bstudio-2 svg line, .section.bs .bstudio-2 svg polyline, .section.bs .bstudio-2 svg polygon, .section.bs .bstudio-1 svg path, .section.bs .bstudio-1 svg line, .section.bs .bstudio-1 svg polyline, .section.bs .bstudio-1 svg polygon {
  fill: rgba(13, 4, 97, 0.0274509804);
}
.section.bs .bstudio-2 svg .cls-2, .section.bs .bstudio-1 svg .cls-2 {
  fill: none;
}

#head {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 75vh;
  background-image: linear-gradient(189deg, #002ac1, #32005c);
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  overflow: hidden;
}
#head h1, #head h6 {
  color: white;
}
#head h1 {
  font-size: 4em;
  font-weight: 800;
}
#head h6 {
  font-size: 1.2em;
  font-weight: 400;
}
#head #tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.monitor-box {
  width: 100vw;
  position: relative;
  z-index: 1;
  display: flex;
  height: 25vh;
  background-color: #f6f6f6;
}
.monitor-box .images {
  margin: auto;
  width: 50%;
  position: relative;
  bottom: 100px;
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
}
.monitor-box img {
  width: 100%;
  max-width: 250px;
}

.face-box {
  display: block;
  width: 550px;
  position: absolute;
  bottom: 0;
  left: 60%;
  transform-origin: bottom;
  transform: scale(0.85);
  z-index: -1;
}
.face-box .face path {
  stroke: #e0e0e0;
  stroke-width: 2;
  fill: none;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  opacity: 1;
  animation: dash 20s alternate infinite;
}
.face-box #brain {
  position: absolute;
  bottom: 185px;
  left: 25px;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
}

.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 999;
}
.loading-page .title {
  font-size: 5vh;
  position: absolute;
  bottom: -50px;
}
.loading-page div {
  width: 100%;
  background-color: #0d1117;
  height: 25vh;
  transition: 0.2s;
}
.loading-page.MO div {
  background-color: #0055ff;
}
.loading-page.SQ div {
  background-color: #7310eb;
}
.loading-page.AC div {
  background-color: #065bf7;
}
.loading-page.RC div {
  background-color: #00be68;
}
.loading-page.OP div {
  background-color: #ff4000;
}
.loading-page.BS div {
  background-color: #02488f;
}
.loading-page .preloading {
  position: absolute;
  width: 25vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.loading-page .preloading svg path {
  stroke: #e6edf3;
  stroke-width: 1px;
  opacity: 0.9;
  fill: none;
  stroke-dashoffset: -1;
  stroke-dasharray: 1;
  animation: preloading 4s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}
@keyframes preloading {
  to {
    stroke-dashoffset: 0;
    stroke-dasharray: 1;
  }
}
.loading-page.close .rec-1 {
  animation: rec 0.5s forwards cubic-bezier(0.13, 1.15, 0.38, 0.56);
  animation-delay: 0s;
}
.loading-page.close .rec-2 {
  animation: rec 0.5s forwards cubic-bezier(0.13, 1.15, 0.38, 0.56);
  animation-delay: 0.3s;
}
.loading-page.close .rec-3 {
  animation: rec 0.5s forwards cubic-bezier(0.13, 1.15, 0.38, 0.56);
  animation-delay: 0.6s;
}
.loading-page.close .rec-4 {
  animation: rec 0.5s forwards cubic-bezier(0.13, 1.15, 0.38, 0.56);
  animation-delay: 0.9s;
}
.loading-page.close .preloading {
  display: none;
}

.outline-image {
  opacity: 0;
  transition: 0.3s;
  max-width: 90%;
}
.outline-image path, .outline-image line, .outline-image polyline, .outline-image polygon {
  stroke: rgb(36, 41, 47);
  stroke-width: 1;
  fill: none;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  opacity: 1;
}

.agc-1 path, .agc-1 line, .agc-1 polyline, .agc-1 polygon {
  stroke-width: 2;
}

.transport-1, .squirrel-1, .rc-1, .opt-1, .agc-1, .bstudio-1, .contact-1 {
  opacity: 0;
}
.transport-1.outline-image path, .transport-1.outline-image polygon, .squirrel-1.outline-image path, .squirrel-1.outline-image polygon, .rc-1.outline-image path, .rc-1.outline-image polygon, .opt-1.outline-image path, .opt-1.outline-image polygon, .agc-1.outline-image path, .agc-1.outline-image polygon, .bstudio-1.outline-image path, .bstudio-1.outline-image polygon, .contact-1.outline-image path, .contact-1.outline-image polygon {
  animation: dash-2 20s alternate infinite;
}
.transport-1.outline-image line, .transport-1.outline-image polyline, .squirrel-1.outline-image line, .squirrel-1.outline-image polyline, .rc-1.outline-image line, .rc-1.outline-image polyline, .opt-1.outline-image line, .opt-1.outline-image polyline, .agc-1.outline-image line, .agc-1.outline-image polyline, .bstudio-1.outline-image line, .bstudio-1.outline-image polyline, .contact-1.outline-image line, .contact-1.outline-image polyline {
  animation: dash-3 20s alternate infinite;
}

.active .transport-1, .active .squirrel-1, .active .rc-1, .active .opt-1, .active .agc-1, .active .bstudio-1, .active .contact-1 {
  opacity: 1;
  transition: 1s;
  transition-delay: 0.5s;
}

.bstudio-1.outline-image .cls-1 {
  animation: dash-2 40s alternate infinite;
}
.bstudio-1.outline-image .cls-2 {
  animation: dash-3 50s alternate infinite;
}

.transport-1 {
  width: 600px;
  height: auto;
}

.squirrel-1 {
  width: 420px;
  height: auto;
}

.rc-1 {
  width: 400px;
  height: auto;
}

.opt-1 {
  width: 400px;
  height: auto;
}

.bstudio-1 {
  width: 600px;
  height: auto;
}

.agc-1 {
  width: 300px;
  height: auto;
}

.transport-2, .squirrel-2, .rc-2, .opt-2, .agc-2, .bstudio-2 {
  width: 900px;
  height: auto;
  position: absolute;
  bottom: -150px;
  right: -100px;
}

.transport-2 {
  transform: translate(-740px, 580px);
}
.transport-2.outline-image path, .transport-2.outline-image line, .transport-2.outline-image polyline, .transport-2.outline-image polygon {
  stroke-width: 0.8;
  opacity: 1;
  stroke-dashoffset: 0;
}

.active .transport-2 {
  animation: plane 5s forwards;
}

.delay-opacity {
  opacity: 0;
  animation: delay-opacity 1s forwards;
  animation-delay: 2s;
}

.contact-1.outline-image path, .contact-1.outline-image line, .contact-1.outline-image polyline, .contact-1.outline-image polygon {
  stroke: #e6edf3;
  fill: rgba(255, 255, 255, 0.1);
}

@keyframes delay-opacity {
  100% {
    opacity: 1;
  }
}
@keyframes plane {
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes squirrel {
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes rc {
  100% {
    transform: translate(0, 0) scaleX(-1);
    opacity: 1;
  }
}
@keyframes opt {
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes agc {
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes rec {
  100% {
    width: 0;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1;
    stroke-dasharray: 0.5;
  }
  20% {
    stroke-dashoffset: 0.5;
    stroke-dasharray: 0.2;
  }
  40% {
    stroke-dashoffset: 1;
    stroke-dasharray: 0.3;
  }
  60% {
    stroke-dashoffset: 0.5;
    stroke-dasharray: 1;
  }
  80% {
    stroke-dashoffset: 1;
    stroke-dasharray: 0.5;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1;
  }
}
@keyframes dash-2 {
  0% {
    stroke-dashoffset: 1;
    stroke-dasharray: 0.5;
  }
  50% {
    stroke-dashoffset: 1;
    stroke-dasharray: 0.3;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1;
  }
}
@keyframes dash-3 {
  0% {
    stroke-dashoffset: 1;
    stroke-dasharray: 0.7;
  }
  50% {
    stroke-dashoffset: 1;
    stroke-dasharray: 0.2;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1;
  }
}
.up {
  transform: translateY(50px);
  opacity: 0;
}

.slide-box .container {
  animation: hide 0.2s forwards;
}
.slide-box.active .container {
  animation: show 0.2s forwards;
}
.slide-box.active .up {
  transform: translateY(0);
  opacity: 1;
  transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.del-1 {
  transition-delay: 0.6s !important;
}

.del-2 {
  transition-delay: 0.9s !important;
}

.del-3 {
  transition-delay: 1.2s !important;
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes up {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
#about {
  height: 60vh;
  width: 100%;
  margin: auto;
  min-height: 0;
}
#about .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
#about .container h1 {
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
  transition: 0;
}
#about .container p {
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
  transition: 0;
}
#about.active-section .container h1 {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
  transition: 0.3s;
}
#about.active-section .container p {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
  transition: 0.3s;
  transition-delay: 0.3s;
}
#about .title {
  transform-origin: bottom center;
  transition: 0.3s;
}
#about .title-fix-box {
  width: 100%;
  height: inherit;
  position: absolute;
  z-index: 9;
  top: 0;
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
}

#products {
  display: block;
  position: relative;
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
}
#products .section {
  position: sticky;
  top: 0;
  min-height: 100vh;
  overflow: hidden;
  padding: 0;
  border-radius: 0;
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
}
#products .section .slide-box {
  height: 100vh;
  width: 100vw;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  animation: slideToBottom 0.7s cubic-bezier(0.61, 0.43, 0.83, 0.63) forwards;
}
#products .section .slide-box.active {
  animation: slideFromBottom 0.8s cubic-bezier(0.15, 0.51, 0.3, 0.88) forwards;
}
#products .section .slide-box .container {
  margin: 0 auto !important;
}
#products .section.bs .slide-box {
  height: 100vh;
}

#blog, #contact, #footer {
  position: relative;
  height: auto;
  min-height: 100vh;
  width: 100vw;
  background-color: #f6f6f6;
  z-index: 10;
}

#blog {
  z-index: 2;
  background-color: white;
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
}
#blog .container {
  height: calc(100vh - 200px);
  display: block;
}
#blog .container .blog-contents {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
#blog .container .blog-contents .card-box {
  min-width: 300px;
}
#blog .container .blog-contents .card-box img {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#contact {
  padding-bottom: 0;
  min-height: 80vh;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d1117;
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
}
#contact div, #contact h2 {
  color: #e6edf3;
}
#contact .header {
  text-align: center;
  margin-bottom: 30px;
}
#contact .header .title {
  margin-bottom: 0.5em;
}
#contact .columns {
  height: 100%;
  width: 100%;
}
#contact .contact-form {
  width: 100%;
}
#contact .contact-form .input, #contact .contact-form .textarea {
  height: 30px;
  border-radius: 6px;
  border: none;
  background-color: #21262d;
  color: #e6edf3;
}
#contact .contact-form .textarea {
  min-height: 80px;
}
#contact.fix .contact-1 {
  width: 360px;
  height: auto;
  opacity: 1;
  transition: 1s;
  transition-delay: 0.5s;
}

#footer {
  min-height: 8vh;
  display: block;
  position: relative;
  bottom: 0;
  background-color: #21262d;
}
#footer div, #footer h2, #footer p, #footer a {
  color: #e6edf3;
}
#footer a {
  transition: 0.3s;
}
#footer a:hover {
  color: #ff4000;
}
#footer .link-groups {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#footer .brand-icon {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .brand-icon img {
  width: 50px;
  filter: brightness(10) grayscale(1) contrast(10);
}
#footer .copyright {
  padding-bottom: 50px;
}

.sections {
  height: auto;
  position: relative;
  clip: rect(0, auto, auto, 0);
}
.sections #blog, .sections #contact, .sections #footer, .sections #about, .sections #products {
  overflow: clip;
  clip: rect(0, auto, auto, 0);
}
.sections #blog.set, .sections #contact.set, .sections #footer.set, .sections #about.set, .sections #products.set {
  position: absolute;
  transform: none;
  border-radius: 0;
}

.title-fix-box {
  width: 10em;
  height: 100%;
  position: absolute;
  right: 0;
  z-index: 9;
  top: 0;
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
}

.title-fix {
  font-size: 10em;
  height: 100px;
  position: fixed;
  right: 80px;
  bottom: 0;
  font-weight: 800;
  line-height: 0;
  writing-mode: vertical-lr;
  opacity: 0.3;
  text-transform: uppercase;
  text-overflow: clip;
  z-index: 99;
  white-space: nowrap;
  padding-top: 18px;
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: scale(-1, -1);
}

@keyframes slideFromBottom {
  0% {
    transform: translateY(100vh);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideToBottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 1;
  }
}
.navbar-mobile {
  position: fixed;
  top: 10px;
  left: 3vw;
  width: 94vw;
  background-color: white;
  display: grid;
  grid-template-columns: 3fr 1fr;
  z-index: 200;
  padding: 12px;
  border-radius: 100px;
}
.navbar-mobile .brand {
  height: 45px;
}
.navbar-mobile .logo {
  height: 100%;
}
.navbar-mobile .nav-menu {
  display: flex;
  justify-content: flex-end;
}
.navbar-mobile .menu-button {
  width: 45px;
  height: 45px;
  display: block;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  border-radius: 100px;
  background-color: #f6f6f6;
  cursor: pointer;
  position: absolute;
  z-index: 5;
}
.navbar-mobile .menu-button div {
  width: 100%;
  height: 2px;
  border-bottom: 2px solid #0d1117;
  transition: 0.3s;
}
.navbar-mobile .menu-button div:not(:nth-of-type(1)) {
  margin-top: 4px;
}
.navbar-mobile .menu-button div:nth-of-type(1) {
  width: 100%;
}
.navbar-mobile .menu-button div:nth-of-type(2) {
  width: 80%;
}
.navbar-mobile .menu-button div:nth-of-type(3) {
  width: 60%;
}
.navbar-mobile .nav-menu-items {
  position: fixed;
  top: -10px;
  left: -2.5vw;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  transition: 1s;
  display: none;
}
.navbar-mobile .nav-menu-items .options {
  position: absolute;
  top: 7%;
  width: 100vw;
  z-index: 3;
}
.navbar-mobile .nav-menu-items .options .option {
  padding: 20px 40px;
  font-size: 2em;
  font-weight: 800;
  color: #e6edf3;
  width: 100%;
  opacity: 0;
  transition: 0.3s;
}
.navbar-mobile .nav-menu-items img {
  position: absolute;
  bottom: -30px;
  left: -50px;
  width: 100%;
  opacity: 0;
  transform: scale(1.2);
  transition: 0.3s;
  transition-delay: 0.1s;
  filter: brightness(10) saturate(0) hue-rotate(229deg);
}
.navbar-mobile .nav-menu-items .item {
  width: 0;
  height: 20vh;
  font-size: 2.5em;
  font-weight: 800;
  cursor: pointer;
  background-color: #7310eb;
  color: white;
  overflow: hidden;
  transition: 0.3s;
}
.navbar-mobile .nav-menu-items .item:nth-of-type(1) {
  transition-delay: 0.1s;
}
.navbar-mobile .nav-menu-items .item:nth-of-type(2) {
  transition-delay: 0.2s;
}
.navbar-mobile .nav-menu-items .item:nth-of-type(3) {
  transition-delay: 0.3s;
}
.navbar-mobile .nav-menu-items .item:nth-of-type(4) {
  transition-delay: 0.2s;
}
.navbar-mobile .nav-menu-items .item:nth-of-type(5) {
  transition-delay: 0.1s;
}
.navbar-mobile .nav-menu.active .nav-menu-items {
  display: block;
}
.navbar-mobile .nav-menu.active .menu-button div:nth-of-type(1) {
  width: 100%;
  transform: rotate(45deg) translate(0.22em, 0.18em);
}
.navbar-mobile .nav-menu.active .menu-button div:nth-of-type(3) {
  width: 100%;
  transform: rotate(-45deg) translate(0.38em, -0.32em);
}
.navbar-mobile .nav-menu.active .menu-button div:nth-of-type(2) {
  width: 0;
}
.navbar-mobile .nav-menu.active.MO .item {
  background-color: #0055ff;
}
.navbar-mobile .nav-menu.active.SQ .item {
  background-color: #7310eb;
}
.navbar-mobile .nav-menu.active.AC .item {
  background-color: #065bf7;
}
.navbar-mobile .nav-menu.active.RC .item {
  background-color: #00be68;
}
.navbar-mobile .nav-menu.active.OP .item {
  background-color: #ff4000;
}
.navbar-mobile .nav-menu.active.BS .item {
  background-color: #02488f;
}
.navbar-mobile .nav-menu.active.set .nav-menu-items .item {
  width: 110vw;
  padding: 0 1em;
}
.navbar-mobile .nav-menu.active.set img {
  opacity: 0.5;
}
.navbar-mobile .nav-menu.active.set .options .option {
  opacity: 1;
  transition-delay: 0.5s;
  transform: translateY(10px);
}
.navbar-mobile .nav-menu.active.set .options .option:nth-of-type(1) {
  transition-delay: 0.4s;
}
.navbar-mobile .nav-menu.active.set .options .option:nth-of-type(2) {
  transition-delay: 0.5s;
}
.navbar-mobile .nav-menu.active.set .options .option:nth-of-type(3) {
  transition-delay: 0.6s;
}
.navbar-mobile .nav-menu.active.set .options .option:nth-of-type(4) {
  transition-delay: 0.7s;
}
.navbar-mobile .nav-menu.active.set .options .option:nth-of-type(5) {
  transition-delay: 0.8s;
}

.is-mobile .is-last {
  display: none;
}

#backsound {
  position: fixed;
  bottom: 30px;
  left: 30px;
  border-radius: 100px;
  padding: 10px 18px;
  background-color: white;
  cursor: pointer;
  z-index: 100;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
}
#backsound span {
  line-height: 10px;
}
#backsound .stop {
  padding: 4px 0;
  display: none;
}
#backsound.playing .stop {
  display: block;
}
#backsound.playing .play {
  display: none;
}/*# sourceMappingURL=style.css.map */